node_modules/
.venv/
.venv38/
venv/
.DS_Store
dist/
build/
.env
.env.local
.env.*

*.log
coverage/
.vscode/
.parcel-cache/

# Next.js
/.next/
/out/

# Production
/build
dist
.vercel

# Local RAG DB
backend/db/
*.pyc
__pycache__/
debug_rag.py

# Firebase build artifacts
.firebase/
LUMINA_CREDENTIALS.csv
LUMINA_ALL_CREDENTIALS.csv

# Virtual Environments
.venv
.venv*
venv/
env/
bin/
lib/
include/
share/

.env*.local
