@import "tailwindcss";

@theme {
    --color-lumina-primary: #FFD700;
    --color-lumina-secondary: #FDB931;
    --color-lumina-dark: #000000;
    --color-lumina-light: #FFFFFF;
    --color-lumina-gray: #1F2937;
    --font-sans: 'Inter', sans-serif;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .gradient-text {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-lumina-primary to-lumina-secondary;
    }
}